.main_container_box {
  border: solid white 5px;
  border-radius: 5%;
  width: 20vw;
  padding: 1rem;
  box-shadow: 0 0 10px black;
  background-color: white;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 15vw;
  margin-top: 1rem;
  text-align: center;
  height: 2rem;
  font-size: 1rem;
}

span:hover {
  cursor: pointer;
  color: blue;
}

button {
  width: 6rem;
  height: 2.5rem;
  background-color: aquamarine;
  border-radius: 10%;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

h3 {
  text-align: center;
}